<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>住所一覧</title>
<link rel="stylesheet" href="style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
 crossorigin="anonymous">
</head>
<body>
	<header>
		<div class="container">
			<div class="header-logo">
			 <p>飲み物住所</p>
			</div>
			<div class="header-list">
				<ul>
					<li>飲み物一覧</li>
				</ul>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>住所</th>
					<th>ドリンク名</th>
					<th>登録日時</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item:${selectedList}">
					<th th:text="*{item.Id}"></th>
					<td th:text="*{item.address}"></td>
					<td th:text="${item.drinkEnt.name}"></td>
					<td th:text="*{item.registerDate}"></td>
				</tr>
			</tbody>
		</table>	
		</div>
	</main>
</body>
</html>