<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>住所一覧</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="header-logo">
			 <p>飲み物住所</p>
			</div>
			<div class="header-list">
				<ul>
					<li>飲み物一覧</li>
				</ul>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<table>
			<tr>
				<th></th>
				<th></th>
				<th></th>
			</tr>
				
			</table>
		</div>
	</main>
</body>
</html>