<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップページ</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="header-logo">
				<p>飲み物住所</p>
			</div>
			<div class="header-list">
				<p>
					飲み物一覧<select name="name">
						<option value="default">下から選択</option>
						<option value="pocari">缶ポカリ</option>
						<option value="pepsi">ペプシ</option>
						<option value="pepsiTwist">ペプシツイスト</option>
						<option value="DoctorPepper">ドクターペッパー</option>
					</select>
				</p>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<h1 th:text="${message}">ようこそ</h1>
			<form method="post" th:action="@{/top}" th:object="${drinkDto}">

				<select name="id&name">
					<option value="default">下から選択</option>
					<option value="1&缶ポカリ">缶ポカリ</option>
					<option value="2&ペプシ">ペプシ</option>
					<option value="3&ペプシツイスト">ペプシツイスト</option>
					<option value="4&ドクターペッパー">ドクターペッパー</option>

				</select>
				<!--  <label for="ice-cream-choice">Choose a flavor:</label> <input
					list="ice-cream-flavors" id="ice-cream-choice"
					name="ice-cream-choice" />

				<datalist id="ice-cream-flavors">
					<option value="Chocolate"><option value="Coconut">
    
					<option value="Mint">
    
					<option value="Strawberry">
    
					<option value="Vanilla">

				</datalist> -->
				
				<input list="DrinkList" />
						<datalist id="DrinkList">
							<option th:each="item : ${data}" >[[${item.name}]]</option>
						</datalist>

				<p>
					住所：<input type="text" name="address">
				</p>
				<input type="submit" value="送信">
			
					</form>
		</div>

	</main>
</body>
</html>