<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップページ</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="header-logo">
				<p>飲み物住所</p>
			</div>
			<div class="header-list">
				<p>飲み物一覧<select name="drinkName">
				<option value="default">下から選択</option>
				<option value="pocari">缶ポカリ</option>
				<option value="pepsi">ペプシ</option>
				<option value="pepsiTwist">ペプシツイスト</option>
				<option value="DoctorPepper">ドクターペッパー</option>
			</select></p>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<h1 th:text="${message}">ようこそ</h1>
			<select name="drinkName">
				<option value="default">下から選択</option>
				<option value="pocari">缶ポカリ</option>
				<option value="pepsi">ペプシ</option>
				<option value="pepsiTwist">ペプシツイスト</option>
				<option value="DoctorPepper">ドクターペッパー</option>
			</select>
			<form method="get" th:action="@{/top}">
				<p>
					住所：<input type="text" name="address">
				</p>
				<input type="submit" value="送信">
			</form>
		</div>

	</main>
</body>
</html>